absl-py==1.4.0
aiohttp==3.8.5
aiosignal==1.3.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
autopep8==1.6.0
beautifulsoup4==4.12.2
biopython==1.79
bs4==0.0.1
cachetools==5.3.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
cma==3.2.2
colorama==0.4.6
contourpy==1.0.6
cycler==0.11.0
deap==1.3.3
distlib==0.3.7
einops==0.6.0
et-xmlfile==1.1.0
fair-esm @ git+https://github.com/facebookresearch/esm.git@900251ba3e2b7cdc06b44b10dfa3a0c1dd49752b
filelock==3.12.2
Flask==2.0.2
flatbuffers==23.3.3
fonttools==4.38.0
frozenlist==1.4.0
gast==0.4.0
google-auth==2.16.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.3
h5py==3.8.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.2.0
keras==2.11.0
kiwisolver==1.4.4
libclang==15.0.6.1
Markdown==3.4.1
MarkupSafe==2.0.1
matplotlib==3.6.2
multidict==6.0.4
mysql-connector-python==8.0.33
neat-python==0.92
numexpr==2.8.4
numpy==1.21.3
oauthlib==3.2.2
OmegaFold @ git+https://github.com/HeliXonProtein/OmegaFold.git@9a4209ff64f4d099fa06354d5156a2d6d735bf26
openai==0.27.8
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.4
pandas-stubs==1.2.0.35
Pillow==9.2.0
platformdirs==3.10.0
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pydssp==0.9.0
pygame==2.1.2
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.19.2
pytz==2021.3
PyYAML==6.0
qdpy==0.0.9.8
requests==2.26.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.1.3
scipy==1.9.3
six==1.16.0
sklearn==0.0
soupsieve==2.4.1
tables==3.7.0
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
threadpoolctl==3.1.0
toml==0.10.2
torch @ https://download.pytorch.org/whl/cu113/torch-1.12.0%2Bcu113-cp310-cp310-win_amd64.whl
tqdm==4.62.3
typing_extensions==4.4.0
urllib3==1.26.7
virtualenv==20.24.2
Werkzeug==2.0.2
wrapt==1.15.0
yarl==1.9.2
