@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    background-color: #0e0c14;
    color: #f0f8ff;
    cursor: default;
    font-family: "Helvetica", sans-serif;
}

.code-block {
    background-color: #00000042;
    text-align: left;
    padding: 1rem;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
    overflow-x: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid #4a148c;
    padding-bottom: 0.5rem;
    text-align: center;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    border-left: 4px solid #4a148c;
    padding-left: 1rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


color-palette {
    color: #0e0c14;
    color: #4a148c;
    color: #6a34b9;
    color: #4a148c42;
    color: #6a34b942;
    color: #f0f8ff;
}