/* ------themes------ */

:root {
    --background-color: #0e0c14;
    --background-color-rgb: 14, 12, 20;
    --background-haze: #0e0c14ef;
    --background-color-1t: #4a148c42;
    --background-color-2t: #6a34b942;
    --element-color-1: #4a148c;
    --element-color-2: #6a34b9;
    --highlight-color: #cea8fc;
    --text-color: #f0f8ff;
    --text-color-rgb: 240, 248, 255;
    --glow-color: #bb86fc;
    
    --light-text: #f0f8ff;
    --black-back: #0e0c14;
}

.light-theme {
    --background-color: #f0f8ff;
    --background-color-rgb: 240, 248, 255;
    --background-haze: #f0f8ffef;
    --background-color-1t: #2a14ff42;
    --background-color-2t: #dad1ff42;
    --element-color-1: #b48bff;
    --element-color-2: #884afa;
    --highlight-color: #250849;
    --text-color: #0e0c14;
    --text-color-rgb: 14, 12, 20;

    --light-text: #f0f8ff;
    --black-back: #0e0c14;
}
