/* ------themes------ */

:root {
    --background-color: #0e0c14;
    --background-color-rgb: 14, 12, 20;
    --background-haze: #0e0c14ef;
    --background-color-1t: #4a148c3f;
    --background-color-2t: #6a34b93f;
    --element-color-1: #4a148c;
    --element-color-2: #6a34b9;
    --highlight-color: #cea8fc;
    --text-color: #f0f8ff;
    --text-color-rgb: 240, 248, 255;
    --glow-color: #bb86fc;
}

.light-theme {
    --background-color: #f0f8ff;
    --background-color-rgb: 240, 248, 255;
    --background-haze: #f0f8ffef;
    --background-color-1t: #2a14ff3f;
    --background-color-2t: #c8a0ff3f;
    --element-color-1: #5503d169;
    --element-color-2: #6507d869;
    --highlight-color: #250849dc;
    --text-color: #0e0c14;
    --text-color-rgb: 14, 12, 20;
}
