/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #2C334C;
    color: #e0e0e0;
    padding: 20px;
}

.content-container {
    width: 60%;
    margin: 0 auto;
}

.icon {
    display: block;
    margin: 10px auto;
    width: 32px;
    height: 32px;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    color: #e0e0e0;
    background-color: #11131d;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

#message-form {
    display: flex;
    align-items: center;
}

#conversation {
    max-height: 500px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#conversation p {
    white-space: pre-line;
}

.user {
    color: #90caf9;
    text-align: left;
}

.assistant {
    text-align: right;
    color: #a5d6a7;
}

.message {
    margin-bottom: 10px;
}

#submit-button {
    margin: 0;
    float: right;
    background: none;
    border: none;
}

#action-btn {
    padding: 5px 10px;
    color: #e0e0e0;
    background-color: #11131d;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

/* Light Mode Styles */
body.light-mode,
body.light-mode h3,
body.light-mode a,
body.light-mode .user-msgbox {
    color: #11131d;
}

body.light-mode {
    background-color: #e0e0e0;
}

body.light-mode .btn {
    background-color: #11131d;
    color: #e0e0e0;
}

body.light-mode .user {
    color: blue;
}

body.light-mode .assistant {
    color: green;
}

#light-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #11131d;
    background-color: #e0e0e0;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

body.light-mode #light-mode-toggle {
    color: #e0e0e0;
    background-color: #11131d;
}

/* Effects */
@keyframes highlight-border {
    0%,
    100% {
        border-color: #2C334C;
    }

    50% {
        border-color: #353b58;
    }
}

.user-msgbox {
    border: 2px solid darkgray;
    border-radius: 5px;
    transition: border-color 2s;
    font-family: Arial, sans-serif;
    font-size: 1em;
    color: #e0e0e0;
    width: 100%;
    resize: none;
    background: transparent;
    outline: none;
    caret-color: #999;
    line-height: 1.75;
    overflow-y: hidden;
    white-space: pre-wrap;
    spellcheck: false;
}

.user-msgbox:focus {
    border-color: transparent;
    animation: none;
}

.user-msgbox:not(:focus) {
    animation: highlight-border 2s infinite;
}

.disabled-text-effect {
    transition: color 0.5s;
    color: #90caf9a6;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in;
}

@media screen and (max-width: 1300px) {
    html {
        font-size: 1rem;
    }
    .icon {
        width: 48px;
        height: 48px;
    }
    .content-container {
        width: 100%;
    }
}