<!DOCTYPE html>

<head>
  <title>Mental gym</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='Images/MG.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}" />
</head>

<body>

<!-- Main content -->
<div class="content-container">
  <button id="light-mode-toggle" onclick="toggleLightMode()">Light Mode</button>
  <div id="logout-button-container"></div>
  <a href="/reset" class="btn btn-primary">Reset Conversation</a>
  <div id="conversation">
    {% if messages %}
      {% for message in messages %}
        {% if message.role != 'system' %}
        <div class="{{ message.role }} fade-in">
          <p>{{ message.content }}</p>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div class="action-section"></div>
  <form action="/" method="post" id="message-form">
    <textarea name="message" class="user-msgbox" required onkeydown="handleEnter(event)" autofocus ></textarea>
    <input type="submit" id="submit-button" value="" />
  </form>
</div>

<!-- Login/Signup Popup -->
<div id="login-popup" class="popup">
  <div class="popup-content">
    <form id="login-form">
      <h1>Login</h1>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" autocomplete="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" autocomplete="current-password" required>
      <input type="submit" value="Login">
    </form>
    <form id="signup-form" style="display: none;">
      <h1>Sign Up</h1>
      <label for="new-email">Email:</label>
      <input type="text" id="new-email" name="new-email" autocomplete="email" required>
      <label for="new-password">Password:</label>
      <input type="password" id="new-password" name="new-password" autocomplete="new-password" required>
      <label for="confirm-password">Confirm Password:</label>
      <input type="password" id="confirm-password" name="confirm-password" autocomplete="new-password" required>
      <input type="submit" value="Sign Up">
    </form>
    <button id="toggle-button" onclick="toggleSignup()">Don't have an account? Sign up</button>
  </div>
</div>

<script>
  var lessonUrl = "{{ url_for('static', filename='images/TopicChoosing2.png') }}";
</script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>