<!DOCTYPE html>

<head>
  <title>Mental gym</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='Images/MG.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}" />
</head>

<body>
<div class="fade-in">
  <button id="light-mode-toggle" onclick="toggleLightMode()">Light Mode</button>

  <img src="{{ url_for('static', filename='Images/Tutor1.png') }}" class="icon" />
  <a href="/reset" class="btn btn-primary">Reset Conversation</a>
  <div id="conversation"></div>  
  <div class="main-container">
    <div class="left-section">
      <form action="/" method="post" id="message-form">
        <textarea name="message" class="user-msgbox" required onkeydown="handleEnter(event)" autofocus ></textarea>
        <input type="submit" id="submit-button" value="" />
      </form>
    </div>
    <div class="right-section">
    </div>
  </div>
</div>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>